[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kelvin"]
	path = kelvin
	url = https://github.com/abarbour/kelvin
[submodule "kitagawa"]
	path = kitagawa
	url = https://github.com/abarbour/kitagawa
[submodule "psd"]
	path = psd
	url = https://github.com/abarbour/psd
